@import "./abstracts/variables";
@import "./abstracts/mixins";
@import "./base/config";
@import "./pages/globals";
@import "./components/compnents";
@import "./components/buttons";

main{
    .container {
        @include flexbetween;
        width: 90%;
        margin-top: 1.5rem;
    }
}

.content{
    flex-direction: column;
    align-items: flex-start;
    gap: 0.1rem;
    padding-right: 0;
    padding-top: 0;
    .panel-section{
        color: $primary;
    }
}

.user-input{
    flex-direction: column;
    align-items: flex-start;
    gap: 0;
    padding:0;
    .input-title{
        font-size: x-large;
        font-weight: bolder;
        margin-bottom: 1rem;
        &-one{
            margin-left: 12rem;
        }  
    }

    .text-input{
        margin-top: 0;
        input{
            background: none;
            padding: 0.5rem 1rem;
            @include border-box-right;
            margin-left: 2rem;
        }
    }
}