.content-button{
    button{
        
       background: none;
        border: 0;
        a{
            text-decoration: none;
            color: $primary;
            font-size: medium;
            font-weight: bolder;
            padding: 1rem;
        }
    }

    .btn-prev{
        .btn-next-icon{
            svg{
                -webkit-transform: scaleX(-1);
                transform: scaleX(-1);
            }  
        }
    }


}
    


